name: Release

on:
  # exec on merge
  push:
    branches: [main]

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yml
    secrets:
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}

  create-release:
    name: Create a Release

    needs: [test]

    permissions:
      contents: write
      issues: write
      pull-requests: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Setup Git
        run: |
          git config user.name "Royce Nobles"
          git config user.email "ranobles@gmail.com"

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install
        run: npx ci

      - name: Compile
        run: npm run compile

      - name: Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          NPM_TOKEN: ${{ secrets.ACCESS_TOKEN }}
